img{
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.requirements li {
    list-style-type: none;
    text-align: left;
}

.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}

.reveal pre code{
    font-size: .5em;
    line-height: 1em;
    max-height: 500px;
}

.image-10 img {
  width: 10%;
}

.image-25 img {
  width: 25%;
}

.image-50 img {
  width: 50%;
}

.image-75 img {
  width: 75%;
}

.reveal .slides {
    font-size: 1.0em;
}

.footnote {
    position: absolute;
    bottom: 20px;
    size: 0.6em;
    color: #444444;
}

.reveal table td {
    font-size: 0.7em;
}

.reveal h1 { font-size: 1.5em; } 

